

<div class="container">
    <p>createstudent works!</p>
    <form [formGroup]="studentForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cell No.</label>
            <input type="text" class="form-control" formControlName="cellNo">
        </div>
        <div class="mb-3" formGroupName="location">
            <label for="location" class="form-label">Location</label>
            <select id="location" formControlName="location" class="form-select" required>
                <option *ngFor="let loc of locations" [ngValue]="loc.name">
                    {{loc.name}}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" (click)="createStudent()">Submit</button>

    </form>
</div>